Repository seunghyun-you/on-premise-cicd: changes, and which Jenkins stages are due for each by the changed paths.
All: App Directory Check, DB Directory Check

App Directory Check:
              steps {
                  script {
                      services.add([NAME: 'app'])
                  }
              }
          

DB Directory Check:
              steps {
                  script {
                      services.add([NAME: 'db'])
                  }
              }
          

branch strategy
  Jenkinsfile
Due: none

branch strategy v2
  app/app.js
Due: App Directory Check

multi branch test
  app/app.js
Due: App Directory Check

multi branch test v2
  app/app.js
  app/package.json
  app/views/index.ejs
Due: App Directory Check

multi branch test v3
  app/Dockerfile
  app/views/index.ejs
Due: App Directory Check

Dev (#2) HTML 파일 분리 및 Dockerfile 설정 변경
  app/Dockerfile
  app/app.js
  app/package.json
  app/views/index.ejs
Due: App Directory Check

cicd_architecture.drawio이 추가되었습니다.
  cicd_architecture.drawio
Due: none

cicd_architecture.drawio 업데이트
  cicd_architecture.drawio
Due: none

cicd flow 업데이트
  cicd_architecture.drawio
Due: none

add README.md
  Jenkinsfile-prd
  README.md
  _image/cicd_processing.png
  _image/delivery_deployment.png
  _image/git_flow.png
  _image/pull_pattern.png
  _image/semver.png
  _image/squash_and_merge.png
  _image/system_diagram.png
Due: none

Dev (#3)
  Jenkinsfile-prd
  README.md
  _image/cicd_processing.png
  _image/delivery_deployment.png
  _image/git_flow.png
  _image/pull_pattern.png
  _image/semver.png
  _image/squash_and_merge.png
  _image/system_diagram.png
Due: none

update README.md
  README.md
  _image/container_diagram.png
  _image/git_parameter.png
  _image/workflow.png
Due: none

update README.md
  README.md
Due: none

update README.md
  README.md
  _image/argocd_app_version_check.png
Due: none

update app code
  README.md
  app/app.js
  app/views/index.ejs
Due: App Directory Check

multi branch test (#4)
  README.md
  _image/argocd_app_version_check.png
  _image/container_diagram.png
  _image/git_parameter.png
  _image/workflow.png
  app/views/index.ejs
Due: App Directory Check

update README.md
  README.md
  _image/argocd_app_version_check_02.png
  _image/jenkins.png
  _image/pull_request.png
Due: none

update README.md
  README.md
  _image/argocd_app_version_check_03.png
  _image/jenkins_02.png
Due: none

update color page
  app/app.js
  app/views/color-path.ejs
  cicd_architecture.drawio
Due: App Directory Check

update color page (#5)
  README.md
  _image/argocd_app_version_check_02.png
  _image/argocd_app_version_check_03.png
  _image/jenkins.png
  _image/jenkins_02.png
  _image/pull_request.png
  app/app.js
  app/views/color-path.ejs
  cicd_architecture.drawio
Due: App Directory Check

Update README.md
  README.md
Due: none

create db ejs file
  app/app.js
  app/views/db.ejs
  app/views/error.ejs
  app/views/index.ejs
Due: App Directory Check

update db ejs file
  app/views/db.ejs
Due: App Directory Check

create backup function
  backup/Dockerfile
  backup/Dockerfile.ubuntu
  backup/backup.sh
  backup/backup_ubuntu.sh
  postgre backup sample test command.sh
Due: none

Update readme.md (#6)
  README.md
  app/app.js
  app/views/db.ejs
  app/views/error.ejs
  app/views/index.ejs
  backup/Dockerfile
  backup/Dockerfile.ubuntu
  backup/backup.sh
  backup/backup_ubuntu.sh
  postgre backup sample test command.sh
Due: App Directory Check

update app code
  app/app.js
  backup/postgre backup sample test command.sh
Due: App Directory Check

update app code
  app/views/error.ejs
Due: App Directory Check

update db
  db/postgresql.conf
Due: DB Directory Check

Path conditions:
  App Directory Check: any of: app/**
  DB Directory Check: any of: db/**
