Repository seunghyun-you/on-premise-cicd: changes, and which Jenkins stages are due for each by the changed paths.
All: App Directory Check, DB Directory Check

Path conditions:
  App Directory Check: any of: app/**
  DB Directory Check: any of: db/**

update app
  app/app.js
Due: App Directory Check

update app code
  app/app.js
Due: App Directory Check

update jenkins file
  Jenkinsfile
Due: none

update jenkins file
  Jenkinsfile
  app/app.js
Due: App Directory Check

update app code
  app/views/error.ejs
Due: App Directory Check

update db
  db/postgresql.conf
Due: DB Directory Check

update app code
  app/app.js
  backup/postgre backup sample test command.sh
Due: App Directory Check

ait commit
  Jenkinsfile
Due: none

update app code
  app/views/index.ejs
Due: App Directory Check

update app code argocd
  app/app.js
Due: App Directory Check

update code v1.0.4
  app/app.js
Due: App Directory Check

update jeknis 1.0.6
  app/app.js
Due: App Directory Check

jenkins 1.0.7
  app/app.js
Due: App Directory Check

jenkins 1.0.8
  app/app.js
Due: App Directory Check

update app code-add timestamp&name
  app/app.js
Due: App Directory Check
